.component-button {
  width: 150px;
  background: #001524;
  color: #eab017;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  transition: 0.5s;
  box-shadow: 3px 3px 5px #eab017;
}

.component-button:hover {
  cursor: pointer;
  box-shadow: none;
}