.enmarcacion-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.enmarcacion-type-of-picture {
  margin-bottom: 10px;
}

.enmarcacion-ancho-alto-inputs TextField {
  display: flex;
  flex-wrap: wrap;
}