.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #2d2a32;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.logo-enmarcar {
  width: 300px;
  margin-bottom: 20px;
}